 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2252px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 54px 337px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 17px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3852px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5712px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }
}