.u-section-1 .u-sheet-1 {
  min-height: 2171px;
}

.u-section-1 .u-image-1 {
  height: 574px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 24px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2149px;
  }

  .u-section-1 .u-image-1 {
    height: 470px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2330px;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2649px;
  }

  .u-section-1 .u-image-1 {
    height: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3648px;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
  }
}